---
import Header from '../components/Header.astro'
import Presentation from '../components/Presentation.astro';
import Stack from '../components/Stack.astro';
const { title, titles } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header></Header>
		<main>
			<Presentation></Presentation>
			<Stack></Stack>
		</main>
	</body>
</html>