<header class="px-14 py-8">
    <nav class="flex justify-between ...">
        <img src="" alt="logo">
        <ul class="flex space-x-4">
            <li>Home</li>
            <li>About</li>
            <li>Projects</li>
            <li>Contact</li>
        </ul>
    </nav>
</header>