<section class="flex">
    <div class="w-1/2">
        <h1>Carlos Arturo Bermudez Rios</h1>
        <h3>Web Developer with more than a year of experience, developing projects and applications using different technologies and for different industries. </h3>
    </div>
    <img src="/images/carlos.jpg" alt="imagen-perfil" class="w-1/2 rounded-2xl">
</section>